@font-face {
    font-family: "StiffStaff";
    src:url("./Files/Stiff Staff.otf");
}
@font-face {
	font-family:"Kremlin";
	src:url("./Files/Kremlin.ttf");
}
@font-face {
	font-family:"Wipeout";
	src:url("./Files/Wipeout HD.ttf");
}
body {
	color:#feffd5
    background-color: #00356a;
	font-family: Verdana, Geneva, sans-serif;
}
#rcorners1 {
    border-radius: 25px;
    background: linear-gradient(rgb(0,94,184),white);
    padding: 10px;    
}

h1 {
    color: #00DC57;
	font-family:Kremlin;
	font-size:36pt;
	text-shadow: 4px 4px black;
}
h2 {
	color: #ffea00;
	font-family:StiffStaff;
	font-size:26pt;
	text-shadow: 4px 4px black;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	
}
a{
	font-family: Verdana, Geneva, sans-serif;
	color: #ffea00;
	text-shadow: 1px 1px black;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background: linear-gradient(#005eb8, white);
}
li {
	float:left
}
.left {
    float:left;
}

.right {
    float:right;
}
li a {
    display: block;
    color: white;
	font-size:25px;
	text-align: center;
	font-family: StiffStaff;
    text-align: center;
    padding: 15px 25px;/*first number is height*/
    text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.active{
    background: linear-gradient(black,rgb(0,213,106));
}
li a:hover:not(.active) {
	background: linear-gradient(red, yellow);
    background-color: #f44336;
    color: black;
	text-shadow: 1px 1px white;
}