:root{
	--Navbartextcolour:white;
	--NavbartextShadowColour:black;
	--NavbarColour:#03c791;
	--ActivecolourA:#006609
	--ActivecolourB:#a0a0a0
}

@font-face {
    font-family: "StiffStaff";
    src:url("./Files/Stiff Staff.otf");
}
@font-face {
	font-family:"Kremlin";
	src:url("./Files/Kremlin.ttf");
}
@font-face {
	font-family:"Wipeout";
	src:url("./Files/Wipeout HD.ttf");
}
body {
	color:#feffd5;
    background-color: #00356a;
	font-family: Verdana, Geneva, sans-serif;
}
#rcorners1 {
    border-radius: 25px;
    background: linear-gradient(#005eb8, #CCCCCC);
    padding: 5px;    
}
#rcorners2 {
    border-radius: 15px;
    background: linear-gradient(#005eb8, white);
    padding: 10px;    
	font-size:20px;
	text-shadow:2px 2px black;
}
#rcorners3 {
    border-radius: 15px;
	color:white;
    background: linear-gradient(#005eb8, white);
    padding: 10px;    
	font-size:20px;
	text-decoration:none;
	text-shadow:2px 2px black;
	display:block;
	margin-top:20px;
	min-width:110px;
	text-align:center;
}
#droppedcontent {
	border-radius:20px;
	color:white;
	text-align:center;
    background: linear-gradient(#005eb8, white);    
	font-size:20px;
	text-shadow:2px 2px black;
	min-width:100%;
}

h1 {
    color: #ffea00;
	font-family:Tahoma;
	font-size:36pt;
	text-shadow: 4px 4px black;
}
h2 {
	color: #ffea00;
	font-family:Tahoma;
	font-size:26pt;
	text-shadow: 4px 4px black;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	color: #feffd5;
}
a{
	font-family: Verdana, Geneva, sans-serif;
	color: #ffea00;
	
}
ul {
    list-style-type: none;
    overflow: hidden;
    background: linear-gradient(#005eb8, white);
}
li {
	float:left
}
.left {
	float:left;
}

.right {
	float:right;
}
li a {
    display: block;
    color: white;
	font-size:25px;
	text-align: center;
	font-family: Tahoma;
    text-align: center;
    padding: 15px 25px;/*first number is height*/
    text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.active{
    background: linear-gradient(var(--ActivecolourA),var(--ActivecolourB));
}
.bold{
	font-weight: 550;	
}
li a:hover:not(.active) {
    background: linear-gradient(#0077e6,#005eb8);
    background-color: #f44336;
    color: var(--Navbartextcolour);
	text-shadow: 2px 2px var(--NavbartextShadowColour);
}
.navbar {
    overflow: hidden;
	margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
	background-color:var(--NavbarColour);
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.navbar a {
    float: left;
    display: block;
    color: var(--Navbartextcolour);
	font-size:25px;
	text-align: center;
	font-family: Tahoma;
    text-align: center;
    padding: 15px 25px;/*first number is height*/
    text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	text-shadow: 2px 2px var(--NavbartextShadowColour);
}
.navbuttons a:hover:not(.active) {
    background: linear-gradient(#0077e6,#005eb8);
    background-color: #f44336;
    color: var(--NavbartextShadowColour);
    text-shadow: 2px 2px var(--Navbartextcolour);
}
.dropbtn {
    background-color: #3498DB;
    color: var(--Navbartextcolour);
    background: linear-gradient(red, yellow);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	min-width:100%;
}

.dropbtn:hover, .dropbtn:focus {
	background: linear-gradient(#0077e6,#005eb8);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--Navbartextcolour);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background: linear-gradient(#0077e6,#005eb8);}

.show {display: block;}
